body, input, select, textarea, button {
    font-size: 18px;
}

body, button, input {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
#main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.product-selector {
    flex: 0 0 6rem;
    width: 6rem;
    height: 100%;
}

.active-product {
    display: flex;
    height: 100%;
    flex: 1;
}

.product-section {
    flex: 0 0 50%;
    padding: 2rem 4rem;
}

.product-desc {
    background-color: #e9c884;
    display: flex;
    flex-direction: column;
    color: #090d41;
}

.product-img {
    background-image: url(products/product-1.png);
    background-color: #7b8bc0;
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#desc-nav {
    justify-content: space-between;
}

nav#img-nav {
    color: white;
    justify-content: flex-end;
}

.brand {
    overflow: hidden;
    position: relative;
    width: 1.5rem;
    height: 3rem;
}

span.logo {
    width: 3rem;
    height: 3rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    border-right: 1.5rem solid;
    position: absolute;
    left: -1.5rem;
}

input#query, button#search-btn {
    border: none;
    background: transparent;
    color: inherit;
}

input#query {
    padding: 0.6rem 0.8rem;
    padding-right: 2.5rem;
    border: 1px solid transparent;
    border-radius: 2rem;
}

button#search-btn {
    width: 2rem;
    cursor: pointer;
    position: absolute;
    right: 0.6rem;
    height: 100%;
    top: 0;
    bottom: 0;
    display: inline-flex;
}

button#search-btn > svg {
    width: 100%;
    height: 100%;
}

.input-group {
    display: flex;
    position: relative;
}

input#query:focus {
    outline: none;
    border-color: inherit;
}

input:-internal-autofill-selected {
}

.nav-list {
    display: flex;
}

span.nav-item {
    padding: 0.6rem;
}

.nav-btn {
    color: #fff;
    background: none;
    margin: 0rem 0rem 0rem 2rem;
    padding: .4rem 2rem;
    border: 1px solid #fff;
    border-radius: .2rem;
}

.product-desc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.product-name {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 1px;
    margin: 2rem 0rem;
}

.product-stat {
    display: flex;
    align-items: center;
}

.product-stat > * {
    margin-right: .8rem;
}

.product-stat > svg {
    width: 1.4rem;
}

.product-rating > span {
    margin: 0rem .2rem;
}

.buy-now {
    color: #fff;
    background: #090d41;
    padding: 1.4rem 3rem;
    border: none;
    border-radius: .1rem;
    margin-right: 1rem;
}

.buy {
    margin: 2rem 0rem;
}

.product-selector-list, img.product-selector-img {
    width: 100%;
}

.product-selector-item {
    cursor: pointer;
}
