html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    font-size: 14px;
    /* font-family: 'Quicksand', sans-serif; */
    letter-spacing: .3px;
    line-height: 1;
}

a {
    color: inherit;
}

.attribution {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5,h6, p, ul, ol {
    margin: 0;
    padding: 0;
}