html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    letter-spacing: .3px;
    line-height: 1;
}

body, input, select, textarea, button {
    font-size: 16px;
}

a {
    color: inherit;
}

.attribution {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: inherit;
    /* Firefox */
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: inherit;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: inherit;
}

input {
    background: none;
}

.mb-1 {
    margin-bottom: 1rem;
}

button {
    cursor: pointer;
}